.header {
  line-height: 15px;
  font-weight: 500;
  color: #697CA6;
  border-bottom: 1px solid #CED4DA;
  background: #FFFFFF !important;
}

.navbar {
  padding: 13px 0;
  background: #FFFFFF !important;
}

.navbarBrand {
  margin-right: 63px;
}

.logo {
  width: 50px;
  height: 50px;
  background: #5E81FE;
  border-radius: 50%;
}

.loginBtn {
  min-width: 110px;
  background: $primaryLight;
  color: $darkBlue;
  border: none;

  &:hover {
    background: $primary;
  }
}

.dropDownItem {
  display: block;
}

.auth {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 991px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .auth {
    flex-direction: column;
    gap: 0;

    span {
      font-size: 15px;
    }

    button {
      padding: 5px;
      font-size: 12px;
    }
  }
}
