.promo {
  padding-top: 80px;
  padding-bottom: 284px;
  text-align: center;
  background: url('/images/promo-bg.jpg') center center/cover no-repeat;

  h4 {
    font-size: 22px;
  }

  p {
    text-align: center;
  }
}

.promoInner {
  max-width: 505px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 991px) {
  .promo {
    padding-top: 60px;
    padding-bottom: 150px;

    h1 {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .promo {
    padding-top: 40px;
    padding-bottom: 100px;

    h1 {
      font-size: 30px ;
      margin-bottom: 18px;
    }

    h4 {
      font-size: 20px !important;
      margin-bottom: 18px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 575px) {
  .promo {
    padding-bottom: 90px;

    h1 {
      font-size: 24px;
      margin-bottom: 14px;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 14px;
    }
  }
}

