.sidebar {
  border-right: 1px solid #D8E3FE;
  //height: 100vh
  max-height: 200vh;
  overflow-y: scroll;
  text-align: center;

  .item {
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    border-bottom: 1px solid lightgray;
  }

  .active {
    color: $green;
  }
}
