.cost {
  padding: 55px 0 55px;
  text-align: center;
}

.row {
  row-gap: 20px;
}

.item {
  padding: 35px 28px 20px;
  background: $lightGray;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }

  ul {
    list-style-type: '✔️ ';
    list-style-position: inside;
    text-align: left;
    color: $gray;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  li {
    margin-bottom: 10px;
  }

  div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

@media screen and (max-width: 991px) {
  .cost {
    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 26px;
      margin-bottom: 20px;
    }
  }

  .item {
    padding: 30px 20px 20px;

    li {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .cost {
    padding: 35px 0 35px;

    h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 24px;
    }

  }

  .item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 575px) {
  .cost {
    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 22px;
    }
  }
}
