.lesson {
  padding: 40px 0;

  h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
  }

  video {
    width: 100%;
    height: auto;
    margin-bottom: 35px;

    @media screen and (max-width: 575px) {
      margin-bottom: 15px;
    }
  }

  p {
    margin-bottom: 40px;
  }
}

.lessonContent {
  max-width: 650px;
  margin: auto;
}

.quizBtn {
  display: block;
  margin: 40px auto 20px;
}

.upload {
  button {
    padding: 5px 10px;
  }
}

.uploadBtns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.fileDrop {
  border: 1px solid #000;
  border-radius: 4px;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr;
  max-width: 350px;
  margin: 40px auto 40px;
  font-size: 14px;
  padding: 7px;
  cursor: pointer;

  &_edit {
    border-style: dashed;
  }

  b, span {
    display: block;
    text-align: center;
    width: 100%;
  }
}
