.lessonHead {
  padding-top: 20px;
  display: none;

  @media screen and (max-width: 991px) {
    display: block;
  }
}

.burgerBtn, .close {
  max-width: 40px;
  max-height: 40px;
  padding: 0;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.menu {
  background: #fff;
}

.overlay {
  width: 100vh;
  height: 100vh;
  position: fixed;
}

.container {
  //padding: 5px 0;
  //display: flex;
  //justify-content: flex-end;
}
