.reviews {
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}

.left {
  padding-top: 130px;
}

.leftBlock {
  width: 320px;
  margin: 0 auto;
}

.right {
  padding-top: 110px;
  padding-bottom: 107px;
}

.card {
  max-width: 423px;
  padding: 25px 40px 35px;
  position: relative;
  background: #fff;
  margin: auto;

  p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #676F95;
    margin-bottom: 0;
  }
}

.img {
  right: 50%;
  transform: translateX(50%);
  bottom: -31px;
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
}

.swiper {
  min-height: 250px;
}

@media screen and (max-width: 991px) {
  .left {
    padding-top: 40px;

    h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  .leftBlock {
    width: unset;
  }

  .right {
    padding-top: 0;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 575px) {
  .left {
    h2 {
      text-align: center;
    }
  }

  .leftBlock {
    padding: 0 20px;
  }

  .card {
    margin: auto;
    padding: 20px 20px 40px;
  }
}
