.sub {
  background: #FCFDFF;

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  input {
    max-width: 280px;
    margin-right: 15px;
  }
}

.left {
  padding-top: 80px;
}

.right {
  padding-top: 120px;
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .left {
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  .right {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 575px) {
  .right {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

    input, button {
      max-width: unset;
      display: block;
    }
  }
}

