.plan {
  background-color: #F5F8FF;

  p {
    margin-bottom: 47px;
  }
}

.left {
  padding-top: 100px;
  padding-bottom: 100px;

  h4 {
    font-size: 20px;
  }
}

.planBlock {
  width: 330px;
  margin-left: auto;
}

.right {
  background: url('/images/plan-app.png') center center/contain no-repeat;
  margin-top: 100px;
}

@media screen and (max-width: 991px) {
  .left {
    padding-top: 70px;
    padding-bottom: 70px;

    h4 {
      font-size: 18px;
    }

    h2 {
      font-size: 28px;
    }
  }

  .planBlock {
    width: unset;
  }

  .right {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .left {
    padding-top: 70px;
    padding-bottom: 70px;

    h4 {
      font-size: 18px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 16px;
    }

    p {
      font-size: 14px;
      margin-bottom: 25px;
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 575px) {
  .left {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .planBtns {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
