.contacts {
  padding-top: 27px;
  padding-bottom: 27px;

  h3 {
    font-size: 23px;
    line-height: 29px;
  }

  ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;

    li {
      color: $gray;
      font-weight: 400;
      font-size: 17px;
      line-height: 32px;
      letter-spacing: 0.03em;
    }
  }
}
