.about {
  padding: 56px 0;

  h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 12px;
    text-align: center;
  }

  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
  }

  img {
    max-width: 100%;
    max-height: 80%;
  }
}

.row {
  max-height: 500px;
  padding: 60px 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 30px 0;

    h2 {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    h4 {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 15px;
    }
  }

  .row {
    padding: 20px 0;
  }


}
