.faq {
  padding-top: 30px;
  padding-bottom: 70px;
  background: $lightGray;
}

.faqTitle {
  margin-bottom: 50px;
  text-align: center;
}

.faqBlock {
  background: #F5F8FF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  //padding: 35px;

  * {
    background: #F5F8FF;
  }
}

@media screen and (max-width: 991px) {
  .faqTitle {
    font-size: 32px;
  }

  .faqBlock {
    //padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .faqTitle {
    font-size: 26px;
    margin-bottom: 25px;
  }
}

