.footer {
  border-top: 1px solid #D8E3FE;

  li {
    margin-right: 29px;

    &:last-child {
      margin-right: unset;
    }
  }
}

.navbar {
  background: #FFFFFF;
  justify-content: unset;
}

.menu {
  display: flex;
  flex-direction: row !important;
}

.main {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.social {
  flex-direction: row !important;
  justify-content: flex-end;
  flex: 1;
}

.copyright {
  @media screen and (max-width: 575px) {
    font-size: 16px;
    text-align: center;
  }
}

.copyMob {
  display: none;
}

@media screen and (max-width: 991px) {
  .menu {
    display: none;
  }

  .main {
    flex-wrap: wrap;
  }

  .copyright {
    display: none;
  }

  .copyMob {
    padding: 0 0 30px;
    display: block;
    text-align: center;
  }
}
