.left {
  padding: 66px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  color: #FFFFFF;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.right {
  padding: 66px 80px;
  color: #5E80FF;
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}

.img {
  margin-bottom: 15px;
}

.value {
  font-size: 48px;
  margin-bottom: 10px;
}

.text {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .left, .right {
    padding: 30px 80px;
    text-align: center;
    align-items: center;
  }
}
