.container {
  padding: 30px 0 50px;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.item {
  background: $lightGray;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  h5 {
    margin: 0;
    padding: 20px 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    background: #3D4F9F;
    color: #FFFFFF;
  }

  ul {
    list-style-type: '✔️ ';
    list-style-position: inside;
    text-align: left;
    color: $gray;
    padding: 25px 28px 10px;
    font-size: 16px;
    line-height: 24px;
  }

  li {
    margin-bottom: 10px;
  }

  div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.modalTitle {
  background: #3D4F9F;
  color: #FFFFFF;
}

.modalFooter {
  justify-content: center;
}
