.testQuiz {
  padding: 40px 0;

  .container {
    max-width: 1000px;
  }

  h2 {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }

  h4 {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: lower-alpha;
    margin-bottom: 0;
  }
}

.item {
  margin-bottom: 40px;
}

.btn {
  display: block;
  margin: auto;
  max-width: 150px;
}
