@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  color: $darkBlue;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 27px;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 36px;
}

//h4 {
//  //font-size: 15px;
//  text-transform: uppercase;
//}

p {
  color: $gray;
  font-size: 15px;
  line-height: 28px;
}

a {
  color: unset;
  text-decoration: none;
}

.btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  padding: 15px 20px;
}

.btn-info {
  background: #D2E1FF;
  color: #3A79FF;
  border: none;

  &:hover {
    color: #fff;
    background: #3A79FF;
  }
}

.btn-ghost {
  color: #ADB4D2;
  border: 1px solid #ADB4D2;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

input, button {
  display: inline-block;
}

input.form-control {
  padding: 10px 10px;
}

.header .btn, .footer .btn {
  padding-left: 20px;
  padding-right: 20px;
}
