/* Header */
.header {
	line-height: 15px;
	font-weight: 500;
	color: #697CA6;
	border-bottom: 1px solid #CED4DA;
}

.navbar {
	padding-top: 27px;
	padding-bottom: 27px;
}

.navbar-brand {
	margin-right: 63px;
}

.logo {
	width: 26px;
	height: 26px;
	background: #5E81FE;
	border-radius: 50%;
}


/* Footer */
.footer {
	border-top: 1px solid #D8E3FE;
	padding-top: 50px;
}

.footer .btn {
	margin-left: 48px;
}

.footer li {
	margin-right: 29px;
}

.footer li:last-child {
	margin-right: unset;
}

.copyright {
	padding-bottom: 90px;
	padding-left: 100px;
}
